{
    "name": "Proxy:Das Proxy to DCTC",
    "providerType": "Dark",
    "rallyConfiguration": {
        "OutputStorageName": "Supplier A Auto",
        "PresetName": "Proxy:10mbps MXF Proxy",
        "ProxyTypeName": "icr_proxy",
        "outputRename": "<houseName>_proxy"
    },
    "tagList": []
}